.xaxis{
  position: absolute;
  bottom: 20px;
  height: 2px;width: 100%;
  background-color: #222222;
}
.xvalue{
  position: absolute;bottom: 10px;left: 30%;
  padding: 10px;
  border:1px solid #222222;
  border-radius: 5px;
  background-color: #efefef;
  font-size: 14px;
}
.yaxis{
  position: absolute;
  left: 20px;
  height: 100%;width: 2px;
  background-color: #222222;
}
.yvalue{
  position: absolute;bottom: 40%;left: -50px;
  padding: 10px;
  border:1px solid #222222;
  border-radius: 5px;
  background-color: #efefef;
  font-size: 14px;
  transform: rotate(-90deg);
}
.mapEdit{
  grid-area: 2 / 1 / 10 / 17;
  background-color: #ffcccc;
}
.mapContrl{
  grid-area: 9 / 5 / 10 / 13;
  text-align: center;
  
}
.control{
  float: left;margin-left: 20px;
  padding: 10px;width: auto;
  background-color: #efefef;
  border:1px solid #222222;
  border-radius: 5px;
}
.controlP{
  float: left;margin-left: 20px;
  padding: 10px;width: auto;
  background-color: #222222;
  border:1px solid #222222;
  color: #efefef;
  border-radius: 5px;
}
.navigation { 
  grid-area: 2 / 1 / 7 / 3; 
  background-color: var(--color-offGray);
}
.ann { grid-area: 2 / 4 / 10 / 17; 
background-color: #ffaaaa;}