.inDetails { 
  grid-area: 2 / 12 / 10 / 17; 
  background-color: var(--color-offGray);
}
.map { 
  grid-area: 2 / 1 / 10 / 12; 
  background-color: var(--color-map);
  display: grid;place-items: center;
}
.mapControl { 
  grid-area: 2 / 2 / 3 / 11; 
  background-color: var(--color-offGray);
  position: relative;top: 40%;
  height: 60%;
}

.coord { grid-area: 3 / 4 / 4 / 9;
text-align: center; }
.text{
  background-color:#FFFFFF;
  position: relative;top: 5px;
  height: 50%;width: 100%;
  border: 1px Solid Var(--font-dark);
}
.save{
  background-color:Var(--font-dark);
  position: relative;top: 50%;left: 0;
  height: 50%;width: 40%;
  border: 1px Solid Var(--font-dark);
  color: var(--font-light);
  border-radius: 5px;
  display: grid;place-items: center;
}
.cancel{
  background-color:Var(--font-light);
  float: right;  
  height: 50%;width: 40%;
  border: 1px Solid Var(--font-dark);
  color: var(--font-dark);
  border-radius: 5px;
  display: grid;place-items: center;
}
.div4 { grid-area: 4 / 13 / 5 / 16;
  text-align: center;
  font-size: 14px;
}
.div5 { grid-area: 5 / 13 / 6 / 16;
  text-align: center;
  font-size: 14px;}
.div6 { grid-area: 6 / 13 / 7 / 16;
  text-align: center;
  font-size: 14px; }
.div7 { grid-area: 7 / 13 / 8 / 16;
  }