.addVenue { 
  grid-area: 2 / 1 / 4 / 3; 
  position: relative;left: 5px;
  width: 95%;
  background-color: var(--font-dark);
  color: var(--font-light);
  display: grid;place-items: center;
  border-radius: var(--main-radius);
}

.DP { 
  grid-area: 4 / 1 / 6 / 3; 
  background-color: var(--color-offGray);
  display: grid;place-items: center;
  border: 1px solid var(--font-dark);
}
.nav { 
  grid-area: 6 / 1 / 10 / 3; 
  background-color: var(--color-offGray);
  display: grid;place-items: center;
  border: 1px solid var(--font-dark);
}

.div6 { grid-area: 2 / 4 / 6 / 7; 
  position: relative;top: 10%;height: 85%;
  background-color: var(--color-offGray);
  display: grid;place-items: center;
}
.div7 { grid-area: 2 / 8 / 6 / 11; 
  position: relative;top: 10%;height: 85%;
  background-color: var(--color-offGray);
  display: grid;place-items: center;}
.div8 { grid-area: 2 / 12 / 6 / 15; 
  position: relative;top: 10%;height: 85%;
  background-color: var(--color-offGray);
  display: grid;place-items: center;}
.div9 { grid-area: 6 / 4 / 10 / 7; 
  position: relative;top: 10%;height: 85%;
  background-color: var(--color-offGray);
  display: grid;place-items: center;}
.div10 { grid-area: 6 / 8 / 10 / 11;
  position: relative;top: 10%;height: 85%;
  background-color: var(--color-offGray);
  display: grid;place-items: center; }
.edit{
position: absolute;
height: 15%;bottom: 1%;width: 40%;left: 1%;
background-color: Var(--font-dark);
color: var(--font-light);
display: grid;place-items: center;
border-radius: var(--main-radius);
border: 1px solid var(--font-dark);
}
.delete{
  position: absolute;
height: 15%;bottom: 1%;width: 40%;right: 1%;
background-color: Var(--font-light);
color: var(--font-dark);
display: grid;place-items: center; 
border-radius: var(--main-radius);
border: 1px solid var(--font-dark); 
}